#------------ [ mew config ] -------------#
#  This is the configuration file of      #
#  Mew, here is all your information      #
#  stored in, you shouldn't send this     #
#  file/information to **anybody**        #
#   because they could destroy your       #
#  discord server with your token!        #
#-----------[ Changeable info ]-----------#
#  You must change the following values   #
#  To your own values:                    #
#  "Discord.token" and "Discord.prefix"   #
#  If you need any help, consider joining #
#  https://discord.gg/SV7DAE9 for support #
###########################################

ua: Mew/0.1.0/Clone # The User-Agent to use for requests
debug: 1 # The debugging level
version: 0.1.0 # The version of mew
nightly: false # Using the nightly version or not
ratelimit: 5000 # Ratelimit inbetween requests

db: mongodb://127.0.0.1:27017/mew # The link to the DB (mongo)

Discord:
  token: YOUR_TOKEN_HERE # Your bot's discord token
  prefix: '!' # The default prefix
  op: # users that can use restricted commands
    - '107130754189766656'
  playing: # The current playing status
    url: null # URL of twitch stream (if type = 1)
    name: '$(bot:prefix)help [PassTheWessel/Mew]' # Name of playing game
    type: 2 # 0 - playing | 1 - streaming | 2 - Listening | 3 - Watching
    enabled: true # If status will be displayed
  Commands: # Enable/disable commands
    ping: true
    snipe: true

    verify: true
  Events: # Enable/Disable events
    debug: true
    error: true
    hello: true
    ready: true
    rawws: false
    unknown: true
    disconnect: true
    shardready: true
    shardpreready: true
    messagedelete: true
    messagecreate: true
    guildmemberadd: true
    sharddisconnect: true
    messagereactionadd: true
    messagereactionremove: true

PlugDJ:
  enabled: false # To connect to PlugDJ or not
  
  mail: YOUR_MAIL_HERE # E-mail to login with
  pass: YOUR_PASS_HERE' # Password to login with
  room: 'wesselgame' # Room to join
  prefix: '!' # The default prefix
  op: # Users that can use restricted commands
    - '6522606'
  autoplay:
    enabled: true # Enable/disable autoplay
    playlists: # The playlists to pick from
      - '[Jazzy] Autoplay #1 🎧'
      - '[Chill] Autoplay #1 🎧'
  Commands: # Enable/disable commands
    ping: true
  Events: # Enable/Disable events
    chat: true
    advance: true
    waitlistupdate: true